*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url("./assets/bg2.jpg") bottom center;
    background-size: cover;
} 

.txt-cnt{
    position: absolute;
    top: 10px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: aqua;
    text-align: center;
    height: 20vh;
    width: 50%;
}

.txt-cnt p{
    background-color: rgba(3, 10, 31, 0.61);
    border-radius: 1rem;
    padding: 1rem;
}

.green{
    color: greenyellow;
}

.point{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 3.5rem;
    color: yellowgreen;
}

.keys{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
    color: white;
}

.top, .middle, .down{
    display: flex;
}

.key{
    background-color: rgba(3, 10, 31, 0.61);
    font-size: clamp(0.1rem, 2vw, 1.2rem);
    width: clamp(3rem, 10vw, 8rem);
    padding: 1rem .2rem;
    border: solid 1px yellow;
    text-align: center;
}


.pressed{
    background-color: rgb(208, 255, 0);
    scale: 1.1;
    color: rgb(0, 0, 0);
    transition: .2s all;
}


code{
    margin-bottom: .3rem;
    display: block;
}